version: '3.4'

services:
  db:
    container_name: mysql
    command: --default-authentication-plugin=mysql_native_password
    image: mysql
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: frontend_db
      MYSQL_USER: tima
      MYSQL_PASSWORD: 1234567
    restart: always
    ports:
      - 3306:3306

  frontend:
    container_name: frontend
    image: ${DOCKER_REGISTRY-}frontend
    build:
      context: .
      dockerfile: src/Frontend/Dockerfile
    depends_on:
      - db
    ports:
      - 5000:80

  api:
    container_name: api
    image: ${DOCKER_REGISTRY-}api
    build:
      context: .
      dockerfile: src/Api/Dockerfile