name: build and test

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 6.0.x

    - name: Restore dependencies for Api
      run: dotnet restore .\src\Api

    - name: Build Api
      run: dotnet build -c Release --no-restore .\src\Api

    - name: Restore dependencies for Frontend
      run: dotnet restore .\src\Frontend

    - name: Build Frontend
      run: dotnet build -c Release --no-restore .\src\Frontend

    - name: Test
      run: dotnet test .\tests\UnitTests\Frontend.Tests -c Release --no-restore --no-build --verbosity normal